<div id="cdb" class="confirm-deletion flex"></div>

<div id="source-div" style="display: none;">
    <div class="deletion flex">
        <span>
            <h2 style="font-weight: 400;">Delete Post?</h2>
            <span style="opacity: .5;">
                Deleting this post will remove it permanently from the system. Are you sure you want to delete this
                post?
            </span>
        </span>
        <span class="del-btns flex">
            <button id="delete-btn">Delete</button>
            <button id="cancel-btn" onclick="cancelBtn()">Cancel</button>
        </span>
    </div>
</div>